<tr>
  <td align='center' style='padding:35px 0;'>

    <a
      href='{{buttonUrl}}'
      style='
                display:inline-block;
                padding:14px 30px;
                background:#2563eb;
                color:#ffffff;
                text-decoration:none;
                border-radius:8px;
                font-weight:bold;
            '
    >

      {{buttonText}}

    </a>

  </td>
</tr>