<tr>

  <td
    style='
            padding-top:35px;
            border-top:1px solid #e5e7eb;
            color:#9ca3af;
            font-size:13px;
            line-height:1.7;
            text-align:center;
        '
  >

    ©
    {{year}}
    Shop

    <br /><br />

    This is an automated email. Please do not reply to this message.

  </td>

</tr>