<tr>
  <td align='center' style='padding-bottom:30px;'>

    <h1
      style='
                margin:0;
                color:#111827;
                font-size:28px;
                font-weight:bold;
            '
    >

      Shop

    </h1>

  </td>
</tr>