{{#> layout title="Reset password"}}

<tr>
    <td
        style="
            color:#374151;
            font-size:16px;
            line-height:1.8;
        ">

        Hello <strong>{{name}}</strong>,

        <br><br>

        We received a request to reset the password for your account.

        <br><br>

        Click the button below to choose a new password.

    </td>
</tr>

{{> button
    buttonText="Reset Password"
    buttonUrl=resetUrl
}}

<tr>
    <td
        style="
            color:#374151;
            font-size:15px;
            line-height:1.8;
        ">

        This password reset link is valid for
        <strong>{{expiresIn}}</strong>.

        <br><br>

        If you didn't request a password reset, you can safely ignore this email.
        Your password will remain unchanged.

    </td>
</tr>

{{/layout}}